<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay with eSewa</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <form action="https://esewa.com.np/epay/main" method="POST" id="esewaForm">
        <input type="hidden" name="tAmt" value="{{ amount }}">
        <input type="hidden" name="amt" value="{{ amount }}">
        <input type="hidden" name="txAmt" value="0">
        <input type="hidden" name="psc" value="0">
        <input type="hidden" name="pdc" value="0">
        <input type="hidden" name="scd" value="{{ esewa_merchant_code }}">
        <input type="hidden" name="pid" value="{{ plan.id }}">
        <input type="hidden" name="su" value="{{ return_url }}">
        <input type="hidden" name="fu" value="{{ cancel_url }}">
    </form>
    <script>
        document.getElementById('esewaForm').submit();
    </script>
</body>
</html>
